body {
    margin: 0;
    background-color: #dee;
}
h1 {
    font-size: 1em;
    text-align: center;
    margin: 1em 0;
    color: #122;
}
h2 {
    font-size: 1.5em;
    margin: 0;
    color: #133;
}

table {
    border-spacing: 1rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
td {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    box-sizing: border-box;

    &:has(> input[type="checkbox"]:checked){
        background-color: #788;
    }
}
td > img {
    width: 245px;
    &:has(~ input[type="checkbox"]:checked){
        opacity: 0;
    }
}
td > p {
    font-size: 1.5em;
    font-weight: bold;
}
td > input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.25em;
    box-sizing: border-box;
    margin: 1rem 0;
    padding: .5rem 1rem;
    border: solid 1px #bcc;
    border-radius: 1.5rem;
    outline: none;
    background-color: transparent;
}
td > input[type="text"]:focus {
    box-shadow: 0 0 1rem #9aa;
}
td > input[type="checkbox"] {
    accent-color: #aee;
    transform: scale(1.5);
    outline: none;
}
td > label {
    padding-left: .5rem;
}

textarea {
    display: block;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    font-size: 2em;
    padding: 1.5rem;
    border: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: solid 1px #bcc;
    outline: none;
}
textarea:focus {
    box-shadow: 0 0 1rem #9aa;
}
textarea#inputText {
    resize: vertical;
}
button {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.25em;
    background-color: #fff;
    border: none;
    margin: 0;
    padding: .75rem 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #133;
    font-weight: bolder;
    &#saveNotes {
        border-radius: 1rem;
    }
}

ol,ul {
    margin: 0;
    padding-left: 1.5em;
}
li,p {
    margin: .25em 0;
}

div#optionContainer{
    margin-top: -1rem;
    &.hide {
        display: none !important;
    }
}

div.inputarea {
    margin: 1rem;
}

div.block {
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #fff;
}

div.split {
    background-color: #bcc;
    height: 1px;
    margin: 0 .5rem;
}

div.notice {
    transform: rotate(180deg);
    background-color: #fff5f5;

    > h2{
        color: #300;
    }
}

p.copylight{
    color: #122;
    text-align: end;
    margin: .5rem 1rem;
}

